@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to right,
    rgba(1, 139, 81) 0%,
    rgba(0, 0, 136) 100%
  );
}
h1 {
  font-family: "Bungee Shade", cursive;
  color: #00cccc;
}
